@import "../../Style/TextColor.scss";

.admin label {
  font-weight: 700;
  color: $grayColor;
}

.save-button input {
  background-color: $buttonBackgroundColor;
  border: none;
  width: 100px;
  height: 50px;
  font-size: 20px;
  color: $whiteColor;
  padding: 5px;
  border-radius: 10px;
}

.job-description input {
  height: 50px;
}

.addJob {
  padding-bottom: 50px;
  h1 {
    color: $whiteSmokeColor;
  }
}
