.available-jobs {
  flex-direction: column;
  margin-top: 50px;
  Button {
    margin: 10px;
    width: 300px;
    height: 100px;
    font-size: 25px;
    font-weight: 700;
  }
  a:hover {
    text-decoration: none;
  }
}
