.sidebar li{
    margin-bottom: 2em;
}

.sidebar li a{
    text-decoration: none;
}

.sidebar li:hover{
    display: inline-block;
    transition: translate(5px);
    background-color: #4B0082;
    padding: 10px;
    border-radius: 5px;
}

.sidebar li:hover span,
.sidebar li:hover .icon{
    color: #fff;
    font-weight: 500;
}

.sidebar svg{
    margin-right: 5px;
}