.job{
    border-radius: 20px;
    padding: 20px;
}
.job-heading{
    background-color: #f5f6fa;
    padding: 10px;
    border-radius: 20px;
}
.type{
    margin-left: 50px;
}
.city{
    margin-left: 45px;
}
.openings{
    margin-left: 70px;
}
.applicants{
    margin-left: 5px;
}

.applicants Button{
    height: 35px;
}

@media only screen and (max-width: 600px) {
    .city, .type, .openings, .applicants{
        margin-left: 0px;
    }
    .applicants Button{
        display: flex;
        flex-direction: column;
    }
}