@import "../../Style/TextColor.scss";

.card-area .card {
  transition: transform 0.5s ease-in-out;
  background-color: $backgroundColor;
  border: 1px solid blueviolet;
  &:hover {
    transform: translateY(-20px);
    box-shadow: 5px 20px 10px rgba(2, 12, 27, 0.7);
  }
}

.card-body a {
  color: $cardLinkColor;
  border: 1px solid $cardLinkColor;
  padding: 7px 15px;
  border-radius: 5px;
  &:hover {
    text-decoration: none;
    color: $cardLinkColor;
  }
}

.text-color {
  color: $whiteSmokeColor;
}
