.navLink{
    color:#ccd6f6;
    font-weight: 700;
}

#toggle{
    background-color: #ccd6f6;
    border: 2px solid turquoise;
}

#login-btn{
    background-color: #ff4880;
    padding: 5px;
    color: white;
    width: 100px;
    font-weight: 500;
}

Nav .nav a{
    text-decoration: none;
}